*{
    font-family: 'Roboto', sans-serif;
  }
.ftr{
    background-color: #001f54;
    padding-left: 125.2px;
    padding-right: 125.2px;
    margin: 0;
}
.ftr-title{
    font-size: 1.5rem;
    font-weight: 500;
}
.dropdown-menu li {
    position: relative;
}
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

.dashboard-bg{
    background-color: #001f54;
    color: #f5f7fa;
}
.balance-section{
    border: none;
    box-shadow: 0 0 8px 2px #001f54;
    height: 350px;
    border-radius: 20px;
}
.recent-section{
    border: none;
    box-shadow: 0 0 8px 2px #001f54;
    height: 200px;
    border-radius: 20px;
}
.send-again{
    border: none;
    box-shadow: 0 0 8px 2px #001f54;
    height: 250px;
    border-radius: 20px;

}
.cash-section{
    border: none;
    box-shadow: 0 0 8px 2px #001f54;
    height: 100px;
    border-radius: 20px;
    
}
.balance-number{
    
    color: #001f54;
}
.mpay-bal{
    color: #001f54;
}


.nv-hvr{
    border-bottom: 5px solid white;
  }
  .nv-hvr:hover{
  border-color: #4ea5ff;
  }
  .ftr-hvr{
    color: white;
  }
  .ftr-hvr:hover{
    color: #4ea5ff;
  }
.not-hvr{
    border-radius: 50%;
    border: 2px solid white;
}
.not-hvr:hover{

    border-color:#4ea5ff;
}

.navbar{
    animation: fade-down 0.5s;
}
.mh-bg{
    background-color: #001f54;
    color: #f5f7fa;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.mb-txt{
    color: #001f54;
}
.scss-alrt{
    display: none;
      position: fixed;
      top: 10px;
      left: auto;
      right: auto;
      z-index: 1000;
}
.sendagain-txt{
    color: #001f54;
}
.sendagain-txt:hover{
    color: #4ea5ff;
}
@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
