*{
    font-family: 'Roboto', sans-serif;
  }
.ftr{
    background-color: #001f54;
    padding-left: 125.2px;
    padding-right: 125.2px;
    margin: 0;
}
.navbar{
    animation: fade-down 0.5s;
}
.art-pic:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
  }

.title-bg{
    background-color: #001f54;
}
.title-txt{
    color: #f5f7fa;
}
.blg-lnk:hover{
    color: #4ea5ff;
}
.blg-txt{
    color: #001f54;
    font-weight: 500;
}
.card{
    background-color:  rgba(255, 255, 255, 0.4) ;
    border-radius: 20px;
}
@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}