*{
    font-family: 'Roboto', sans-serif;
  }
.ftr{
    background-color: #001f54;
    padding-left: 125.2px;
    padding-right: 125.2px;
    margin: 0;
}
.navbar{
    animation: fade-down 0.5s;
}
.pb-bg{
    background-image: url("../Pictures-Landing-Page/deals-bg.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: 50% 50%;
    margin: 0;
    padding: 0;
}
.txt-dp{
    color: #001f54;
}
.crd-cont{
    
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
.card{
    background-color:  rgba(255, 255, 255, 0.4) ;
    border-radius: 20px;

}

@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}