*{
    font-family: 'Roboto', sans-serif;
  }
.ftr{
    background-color: #001f54;
    padding-left: 125.2px;
    padding-right: 125.2px;
    margin: 0;
}
.navbar{
    animation: fade-down 0.5s;
}
ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }
  
  ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }
  
  ol > li:before {
    content: counters(item, ".");
    display: table-cell;
    padding-right: 2rem;
  }
  
  .nv-hvr{
    border-bottom: 5px solid white;
  }
  .nv-hvr:hover{
  border-color: #4ea5ff;
  }
  .ftr-hvr{
    color: white;
  }
  .ftr-hvr:hover{
    color: #4ea5ff;
  }
.privacy-bg{
  background-color: #001f54;
  color: #f5f7fa;
  text-align: center;
}
.privacy-bg2{
  background-image: url(../Pictures-Landing-Page/privacy-policy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #f5f7fa;

}
.privacy-brdr{
  border-radius: 50px;
  backdrop-filter: blur(10px);
  background-color: rgba(90, 90, 90, 0.6);
}
.p-text{
  text-indent: 40px;
}
@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}