*{
    font-family: 'Roboto', sans-serif;
  }
.ftr{
    background-color: #001f54;
    padding-left: 125.2px;
    padding-right: 125.2px;
}
.navbar{
    animation: fade-down 0.5s;
}
.inv-bg{
  background-color: #001f54;
  height: 50vh;
}
.inv-txt{
  color: #f5f7fa;
}
.inv-brdr{
  box-shadow: 0 0 8px 2px #001f54;
  border-radius: 40px;
  background-color: #f5f7fa;

}
.inv-p{
  text-indent: 50px;
}
.nv-hvr{
    border-bottom: 5px solid white;
  }
  .nv-hvr:hover{
  border-color: #4ea5ff;
  }
  .ftr-hvr{
    color: white;
  }
  .ftr-hvr:hover{
    color: #4ea5ff;
  }
.parent-pos{
  position: relative;
}
.pos-1{
  width: 100%;
  position: relative;
  top: 0px;
  z-index: 0;
}
.pos-2{
  width: 100%;
  position: relative;
  top: -35vh;
  height: 2000px;
  z-index: 1;
}


@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}