*{
    font-family: 'Roboto', sans-serif;
  }
.ftr{
    background-color: #001f54;
    padding-left: 125.2px;
    padding-right: 125.2px;
    margin: 0;
}
.navbar{
    animation: fade-down 0.5s;
}
.ls-hdr{
  background-color: #001f54;
  color: #f5f7fa;
}
.ls-bg{
 background-image: url("../Pictures-Landing-Page/legal-structure.jpg");
 background-size: cover;
 background-repeat: no-repeat;
background-position: 50% 50%;
}
.ls-bd{
  backdrop-filter: blur(5px);
  background-color: rgba(125, 125, 125, 0.9);
  color: #f5f7fa;
  border-radius: 40px;
}
.p-text{
  text-indent: 50px;
}
.nv-hvr{
    border-bottom: 5px solid white;
  }
  .nv-hvr:hover{
  border-color: #4ea5ff;
  }
  .ftr-hvr{
    color: white;
  }
  .ftr-hvr:hover{
    color: #4ea5ff;
  }
@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}