*{
    font-family: 'Roboto', sans-serif;
  }
.ftr{
    background-color: #001f54;
    padding-left: 125.2px;
    padding-right: 125.2px;
    margin: 0;
}
.navbar{
    animation: fade-down 0.5s;
}
.nv-hvr{
    border-bottom: 5px solid white;
  }
  .nv-hvr:hover{
  border-color: #4ea5ff;
  }
  .ftr-hvr{
    color: white;
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
  }
  .ftr-hvr:hover{
    color: #4ea5ff;
  }
  .faq-bg{
    background-color: #001f54;
  }
  .faq-title{
    color: #f5f7fa;
  }
  

.faq-section {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    
}
.card{
  width: 100%;
  border-radius: 40px;
  border:2px solid #001f54;
  background-color: #f5f7fa;
}
.faq-question {
    font-weight: bold;
    cursor: pointer;
    color: #001f54;
    
}
.bg-crd{
  background-color: #eeeeee;
}
.list-group-item{
  background-color: #f5f7fa;
  border-color: #001f54;
}
.faq-question:hover{
  color: #4ea5ff;
}
.faq-answer {
    display: none;
    margin-top: 10px;
}
@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}