*{
    font-family: 'Roboto', sans-serif;
  }
.ftr{
    background-color: #001f54;
    padding-left: 125.2px;
    padding-right: 125.2px;
    margin: 0;
}
.navbar{
    animation: fade-down 0.5s;
}

.pb-bg{
    background-image: url("../Pictures-Landing-Page/Paybills-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.pb-h1{
    color: #001f54;
}
.txt-bg{
    background-color:  rgba(255, 255, 255, 0.4) ;
    border-radius: 29px;
    height: 350px;
    backdrop-filter: blur(5px);
    
}


@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}